In [2]:
from cs50 import SQL
db = SQL("sqlite:///wedding.db")

name = 'Test Last'

# Update how to search for guest
res = db.execute("SELECT id FROM guestlist WHERE name= :name OR guest_names LIKE :search_text", name=name, search_text=f"%{name}%")
print(res)

[]

In [12]:
import pandas as pd

file = "Aman_Wedding_Database.xlsx"
df = pd.read_excel(file)

def get_invites_list(events):
    event_list = []
    if "H" in events:
        event_list.append("Shreya_Haldi")
    if "G" in events:
        event_list.append("Aman_Haldi")
    if "S" in events:
        event_list.append("Sangeet")
    if "W" in events:
        event_list.append("Wedding")
    if "R" in events:
        event_list.append("Reception")
    return ' '.join(event_list)

for idx, x in df.iterrows():
    title = x['Title'].strip()
    name = x['First Name'].strip() + " " + x[' Last Name'].strip()
    email = ""
    phone = ""
    over_21 = x['Number of Invitees']
    category = x['Category'].strip()
    party_size = x['Number of Invitees']
    events_invited = get_invites_list(x['Events'])
    if type(x['Title2']) is str: guest_names = x['First Name2'].strip() + " " + x['Last Name2'].strip()
    else: guest_names = ""
    db.execute("INSERT INTO guestlist (title, name, category, party_size, events_invited, guest_names, email, over_21, phone_number) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)", title, name, category, party_size, events_invited, guest_names, email, over_21, phone)
    # print(x)

In [11]:
for x in range(224):
    db.execute("DELETE FROM guestlist WHERE id = ?", x)

In [3]:
db.execute("SELECT * FROM guestlist WHERE id = 24")[0]

{'id': 24,
 'title': 'Dr.',
 'name': 'Sukhdev Brar',
 'category': 'Friends',
 'party_size': 2,
 'over_21': 2,
 'responded_rsvp': 'Yes',
 'email': 'VYAS95.AMAN@GMAIL.COM',
 'phone_number': '',
 'events_invited': 'Aman_Haldi Sangeet Wedding Reception',
 'Shreya_Haldi': '',
 'Shreya_Haldi_Number': 0,
 'Aman_Haldi': 'Sukhdev Brar, Simran Kaur',
 'Aman_Haldi_Number': 2,
 'Sangeet': 'Sukhdev Brar, Simran Kaur',
 'Sangeet_Number': 2,
 'Wedding': 'Sukhdev Brar, Simran Kaur',
 'Wedding_Number': 2,
 'Reception': 'Sukhdev Brar, Simran Kaur',
 'Reception_Number': 2,
 'guest_names': 'Simran Kaur'}

In [3]:
# Find where events did not populate

data = db.execute("SELECT * FROM guestlist")

for row in data:
    if row['events_invited'][0] == " ":
        print(row['name'], row['id'], row['events_invited'])
        id = row['id']
        db.execute(f"UPDATE guestlist SET events_invited = 'Shreya_Haldi Sangeet Wedding Reception' WHERE id = {id}")