In [4]:
from cs50 import SQL
db = SQL("sqlite:///wedding.db")

name = 'Test Last'

# Update how to search for guest
res = db.execute("SELECT id FROM guestlist WHERE name= :name OR guest_names LIKE :search_text", name=name, search_text=f"%{name}%")
print(res)

[]

In [6]:
import pandas as pd

file = "Aman_Wedding_Database.xlsx"
df = pd.read_excel(file)

def get_invites_list(events):
    event_list = []
    if "H" in events:
        event_list.append("Shreya_Haldi")
    if "G" in events:
        event_list.append("Aman_Haldi")
    if "S" in events:
        event_list.append("Sangeet")
    if "W" in events:
        event_list.append("Wedding")
    if "R" in events:
        event_list.append("Reception")
    return ' '.join(event_list)

for idx, x in df.iterrows():
    title = x['Title'].strip()
    name = x['First Name'].strip() + " " + x[' Last Name'].strip()
    email = ""
    phone = ""
    over_21 = x['Number of Invitees']
    category = x['Category'].strip()
    party_size = x['Number of Invitees']
    events_invited = get_invites_list(x['Events'])
    if type(x['Title2']) is str: guest_names = x['First Name2'].strip() + " " + x['Last Name2'].strip()
    else: guest_names = ""
    db.execute("INSERT INTO guestlist (title, name, category, party_size, events_invited, guest_names, email, over_21, phone_number) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)", title, name, category, party_size, events_invited, guest_names, email, over_21, phone)
    # print(x)

/var/folders/4h/3wzx7lrn64q81rg3rfr17qtm0000gn/T/ipykernel_43380/3765100255.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
for x in range(218):
    db.execute("DELETE FROM guestlist WHERE id = ?", x)

In [8]:
db.execute("SELECT * FROM guestlist WHERE id = 24")[0]

{'id': 24,
 'title': 'Mr.',
 'name': 'Aaron Hogan',
 'category': 'Friends',
 'party_size': 1,
 'over_21': 1,
 'responded_rsvp': 'No',
 'email': '',
 'phone_number': '',
 'events_invited': 'Aman_Haldi Sangeet Wedding Reception',
 'Shreya_Haldi': '',
 'Shreya_Haldi_Number': 0,
 'Aman_Haldi': '',
 'Aman_Haldi_Number': 0,
 'Sangeet': '',
 'Sangeet_Number': 0,
 'Wedding': '',
 'Wedding_Number': 0,
 'Reception': '',
 'Reception_Number': 0,
 'guest_names': ''}